 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" 
    crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" 
crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="style.css">
 </head>
 <style>
   .mainbanner{
      width: 100%;
    height: 400px;
    background: url(./image/banner_new3\ \(1\).jpg) no-repeat;
    position: relative;
    background-position: center center;
    background-size: cover;

   }
 </style>
 <body>
   <div class="iconswidget">
      <a href="tel: +91 7500669157" ng-click="clickwhatsup('Clicked on the mobile icon')" class="stikeyphone"><i class="fa fa-phone text-white"></i></a>
	   
   </div>
   
      <nav class="navbar">
         <div class="container">
            <a class="navbar-brand" href="https://excelr.in/">
            <img src="image/logo.png" height="60" alt="">		  </a>
            <div class="float-right">
               
               <a href="tel: +91 7500669157" class="text-dark font-16"><i class="fa fa-phone"></i> +91 7500669157</a>
               
               
            </div>
         </div>
      </nav>
      <div class="mainbanner">
         <div class="container h-100 d-flex align-content-center">
            <div class="row">
               <div class="col-md-12 my-auto text-white">
                  <h3 class="mb-3">Best Data Science Course in Delhi</h3>
                  <br />
                  <h4 class="mb-4">In Collaboration with:</h4>
                  <div class="mb-3"> <img src="./image/Nasscom.png" height="40"></div>
                  <p><a class="btn btn-lg btn-danger" data-toggle="modal" data-target="#myModal" href="#" role="button" ng-click="modalopenbutton('Download Curriculum')">Download Curriculum </a></p>
                  <h4 class="mt-4 mb-0">Mode of Training : Online</h4>
               </div>
            </div>
         </div>
      </div>
      
      <div class="bg-bluelite pt-3">
         <div class="container">
            <div class="row no-gutters">

               <div class="col-6 col-md-2">
                  <img src="./banner/2.png" class="img-fluid w-100">				
               </div>
               <div class="col-6 col-md-2">
                  <img src="./banner/3.png" class="img-fluid w-100">				
               </div>
               <div class="col-6 col-md-2">
                  <img src="./banner/4.png" class="img-fluid w-100">				
               </div>
               <div class="col-6 col-md-2">
                  <img src="./banner/5.png" class="img-fluid w-100">				
               </div>
               <div class="col-6 col-md-2">
                  <img src="./banner/6_1.png" class="img-fluid w-100">				
               </div>
		<div class="col-6 col-md-2">
                  <img src="./banner/62.png" class="img-fluid w-100">				
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <h3 class="text-blue text-center mt-4 font-600">Our Alumni Works at</h3>
         <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
               <div class="carousel-inner w-100" role="listbox">
                  <div class="carousel-item active">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="./anui/1.jpg" data-src="./anui/1.jpg">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="./anui/2.jpg" data-src="./anui/2.jpg">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="./anui/3.jpg" data-src="./anui/3.jpg">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="./image/ajax-loader.gif" data-src="./anui/4.jpg">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="./image/ajax-loader.gif" data-src="./anui/5.jpg">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="./image/ajax-loader.gif" data-src="./anui/6.png">                        

                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="./image/ajax-loader.gif" data-src="./anui/7.png">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="./image/ajax-loader.gif" data-src="./anui/8.png">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="./image/ajax-loader.gif" data-src="./anui/9.png">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="./image/ajax-loader.gif" data-src="./anui/10.png">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="./image/ajax-loader.gif">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/alumini/12.png">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="../../excelrindia.b-cdn.net/data_science_course_training/assets/images/ajax-loader.gif" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/alumini/13.png">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="../../excelrindia.b-cdn.net/data_science_course_training/assets/images/ajax-loader.gif" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/alumini/14.png">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="../../excelrindia.b-cdn.net/data_science_course_training/assets/images/ajax-loader.gif" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/alumini/15.png">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="../../excelrindia.b-cdn.net/data_science_course_training/assets/images/ajax-loader.gif" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/alumini/16.png">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="../../excelrindia.b-cdn.net/data_science_course_training/assets/images/ajax-loader.gif" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/alumini/17.png">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="../../excelrindia.b-cdn.net/data_science_course_training/assets/images/ajax-loader.gif" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/alumini/18.png">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="../../excelrindia.b-cdn.net/data_science_course_training/assets/images/ajax-loader.gif" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/alumini/19.png">                        
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-lg-3 col-md-6 text-center bg-white">
                        <img class="img-fluid lazy" src="../../excelrindia.b-cdn.net/data_science_course_training/assets/images/ajax-loader.gif" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/alumini/20.png">                        
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
               <i class="fa fa-chevron-left fa-lg text-muted"></i>				</a>
               <a class="carousel-control-next text-faded" href="#myCarousel" role="button" data-slide="next">
               <i class="fa fa-chevron-right fa-lg text-muted"></i>				</a>            
            </div>
         </div>
      </div>
      <div class="bg-lite programme pt-2 pb-2">
         <div class="container">
            <h3 class="mt-3 mb-4 font-600">Program Highlights</h3>
            <div class="row">
               <div class="col-md-3 form-group">
                  <div class="card p-1">
                     <div class="card-header color1">
                        <div class="text-center"><img src="./image/icon1.png"></div>
                        <p class="font-16 mb-0 text-center">60+ Case Studies & Assignments</p>
                     </div>
                     <div class="card-body p-2">
                        <p>Work on 60+ Case studies and Assignments with 24/7 Assignment support.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 form-group">
                  <div class="card p-1">
                     <div class="card-header color2">
                        <div class="text-center"><img class="lazy" src="./image/icon2.png" data-src="./image/icon2.png"></div>
                        <p class="font-16 mb-0 text-center">18+ Industry Relevant Projects</p>
                     </div>
                     <div class="card-body p-2">
                        <p>Get Industrial experience by working on our Industry Relevant Live Projects. </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 form-group">
                  <div class="card p-1">
                     <div class="card-header color3">
                        <div class="text-center"><img class="lazy" src="./image/icon3.png" data-src="./imagerindia.b-cdn.net/data_science_course_training/assets/images/icon3.png"></div>
                        <p class="font-16 mb-0 text-center">Tied-up with 150+ Companies</p>
                     </div>
                     <div class="card-body p-2">
                        <p>ExcelR has Tied up with 150+ Companies to Provide Jobs to Many Students</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 form-group">
                  <div class="card p-1">
                     <div class="card-header color4">
                        <div class="text-center"><img class="lazy" src="./image/icon4.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/icon4.png"></div>
                        <p class="font-16 mb-0 text-center">Job Readiness <br/>Program</p>
                     </div>
                     <div class="card-body p-2">
                        <p>A dedicated placement cell for the participants who completed the course</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container mt-4 bg-white" id="Projects">
         <h3 class="mt-3 mb-4 font-600">Skills covered</h3><img src="./image/skillscovered1.jpg" data-src="/image/skillscovered1.jpg" class="img-fluid w-100 lazy">
      </div>
      <div class="bg-lite pt-2 pb-2">
         
         <div class="container mb-5">
            <h3 class="mt-3 mb-4 font-600">Tools and Technologies</h3>
            <div class="row text-center">
               <div class="col-4 col-md-2 border-right"><img src="./image/tool1_lp.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/tool1_lp.png" class="img-fluid lazy"></div>
               <div class="col-4 col-md-2 border-right"><img src="./image/tool2_lp.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/tool2_lp.png" class="img-fluid lazy"></div>
               <div class="col-4 col-md-2 border-right"><img src="./image/tool3_lp.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/tool3_lp.png" class="img-fluid lazy"></div>
               <div class="col-4 col-md-2 border-right"><img src="./image/tool4_lp.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/tool4_lp.png" class="img-fluid lazy"></div>
               <div class="col-4 col-md-2 border-right"><img src="./image/tool5_lp.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/tool5_lp.png" class="img-fluid lazy"></div>
               <div class="col-4 col-md-2"><img src="./image/tool6_lp.png" class="img-fluid lazy"></div>
            </div>
         </div>
      </div>
       <div style="background:url(./image/5in1cert.jpg) repeat; padding:20px 0; width:100%;">
	 	<div class="container">
			<h3 class="mt-3 mb-4 font-600 text-center">3 in 1 certifications</h3>
         <div class="row text-center justify-content-center">
            <div class="col-6 col-md-3 form-group">
               <img src="./image/pinceti.png" class="img-fluid w-75 lazy">
            </div>
            <div class="col-6 col-md-3 form-group">
               <img src="./image/4in2.png" data-src="../data_analyst_course_training/assets/images/4in2.png" class="img-fluid w-75 lazy">
            </div>
           
            <div class="col-6 col-md-3 form-group">
               <img src="./image/4in4.png" data-src="../data_analyst_course_training/assets/images/4in4.png" class="img-fluid w-75 lazy">
            </div>
         </div>   
		</div>
	 </div>
      <div class="container mt-4 bg-white" id="Projects">
         <h3 class="mt-3 mb-4 font-600">Projects</h3>
         <div class="row">
            <div class="col-md-12 form-group">
               <div class="card">
                  <div class="card-header">
                     <p class="font-16 font-weight-bold mb-0">"Daily" Twitter Data Analysis for a Product</p>
                  </div>
                  <div class="card-body">
                     <p>As more and more people are expressing their views and opinions on various microblogging websites about various products and services.
                        There has been a surge of data generated by the users, these websites have people sharing their thoughts daily.
                     </p>
                     <p>Sentiment Analysis with the help of Natural Launguage Processing technique for identifying the sentiments of a product or service</p>
                  </div>
                  <div class="card-footer">
                     <span class="float-left"><strong><i class="fa fa-twitter"></i> Twitter</strong></span>
                     <span class="float-right text-right"><strong>Domain : Social Media</strong></span>
                  </div>
               </div>
            </div>
            <div class="col-md-12 form-group" style="color: black;">
               <div class="card">
                  <div class="card-header">
                     <p class="font-16 font-weight-bold mb-0">Natural Language Processing</p>
                  </div>
                  <div class="card-body">
                     <p>Customers are looking for more information before buying a product on E-commerce websites. Amazon introduced a new feature 'question and answer' search field for products.</p>
                     <p>The project is to build information retrievel system from Amazon products data based on NLP techniques. Top 5 relevant answers to be retrived based on input question</p>
                  </div>
                  <div class="card-footer">
                     <span class="float-left"><strong><i class="fa fa-amazon"></i> Amazon</strong></span>
                     <span class="float-right text-right"><strong>Domain : E commerce</strong></span>
                  </div>
               </div>
            </div>
            <div class="col-md-12 form-group">
               <div class="card">
                  <div class="card-header">
                     <p class="font-16 font-weight-bold mb-0">Predicting Loan defaulters</p>
                  </div>
                  <div class="card-body">
                     <p>Reducing the risk of fraudulent loans by carefully evaluating the risk & at the same time increasing profits by rejecting only those loans, which have the potential of defaulting</p>
                  </div>
                  <div class="card-footer">
                     <span class="float-left"><strong>Hinduja Finance</strong></span>
                     <span class="float-right text-right"><strong>Domain : Banking</strong></span>
                  </div>
               </div>
            </div>
            <div class="col-md-12 form-group">
               <div class="card">
                  <div class="card-header">
                     <p class="font-16 font-weight-bold mb-0">Warranty Cost prediction</p>
                  </div>
                  <div class="card-body">
                     <p>The objective of the analysis to predict an item when sold, what is the probability that customer would file for warranty and to understand important factors associated with them</p>
                  </div>
                  <div class="card-footer">
                     <span class="float-right text-right"><strong>Domain : FMCG</strong></span>
                  </div>
               </div>
            </div>
            <div class="col-md-12 form-group">
               <div class="card">
                  <div class="card-header">
                     <p class="font-16 font-weight-bold mb-0">Predict flight delays</p>
                  </div>
                  <div class="card-body">
                     <p>Predict which flights would be delayed and by how long?</p>
                     <p>Flight delays costs the industry an estimated $25 billion every year More than 60 percent of frequent flyers cite delays among the things about air travel that they find most dismaying. And the costs are spread around — an extra $25 in parking here, a missed business meeting there. Carriers, meanwhile, pay an estimated $62 per minute in crew, fuel, maintenance and other costs. It adds up.</p>
                  </div>
                  <div class="card-footer">
                     <span class="float-right text-right"><strong>Domain : Aviation</strong></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="learning-path">
         <div class="container">
            <h3 class="mt-3 mb-4 font-600 text-white">Learning Path</h3>
            <img src="./image/process_lp.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/process_lp.png" class="img-fluid w-100 lazy">
         </div>
      </div>
      <div class="container" id="why-excelr">
         <h3 class="mt-3 mb-4 font-600">Why ExcelR?</h3>
         <div class="row">
            <div class="col-md-4 form-group">
               <div class="card position-relative">
                  <div class="card-body">
                     <div class="row no-gutters">
                        <div class="col-4 col-md-4 border-right"><img src="./image/we_icon1.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/why/we_icon1.png" class="img-fluid lazy"></div>
                        <div class="col-8 col-md-8 align-self-center">
                           <div class="pl-2">
                              <p class="mb-0">Projects on Kaggle Platform</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 form-group">
               <div class="card position-relative">
                  <div class="card-body">
                     <div class="row no-gutters">
                        <div class="col-4 col-md-4 border-right"><img src="./image/we_icon2.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/why/we_icon2.png" class="img-fluid lazy"></div>
                        <div class="col-8 col-md-8 align-self-center">
                           <div class="pl-3">
                              <p class="mb-0">Industry Based Course Curriculum</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 form-group">
               <div class="card position-relative">
                  <div class="card-body">
                     <div class="row no-gutters">
                        <div class="col-4 col-md-4 border-right"><img src="./image/we_icon3.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/why/we_icon3.png" class="img-fluid lazy"></div>
                        <div class="col-8 col-md-8 align-self-center">
                           <div class="pl-3">
                              <p class="mb-0">Get Basics of R & Python</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 form-group">
               <div class="card position-relative">
                  <div class="card-body">
                     <div class="row no-gutters">
                        <div class="col-4 col-md-4 border-right"><img src="./image/we_icon4.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/why/we_icon4.png" class="img-fluid lazy"></div>
                        <div class="col-8 col-md-8 align-self-center">
                           <div class="pl-3">
                              <p class="mb-0">Get value added courses like Tableau, SQL, Azure</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 form-group">
               <div class="card position-relative">
                  <div class="card-body">
                     <div class="row no-gutters">
                        <div class="col-4 col-md-4 border-right"><img src="./image/we_icon5.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/why/we_icon5.png" class="img-fluid lazy"></div>
                        <div class="col-8 col-md-8 align-self-center">
                           <div class="pl-3">
                              <p class="mb-0"> Experienced Faculty From IIT, IIM & ISB</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 form-group">
               <div class="card position-relative">
                  <div class="card-body">
                     <div class="row no-gutters">
                        <div class="col-4 col-md-4 border-right"><img src="./image/we_icon6.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/why/we_icon6.png" class="img-fluid lazy"></div>
                        <div class="col-8 col-md-8 align-self-center">
                           <div class="pl-3">
                              <p class="mb-0">Work Hands-on with 2+ Live Projects</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 form-group">
               <div class="card position-relative">
                  <div class="card-body">
                     <div class="row no-gutters">
                        <div class="col-4 col-md-4 border-right"><img src="./image/we_icon7.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/why/we_icon7.png" class="img-fluid lazy"></div>
                        <div class="col-8 col-md-8 align-self-center">
                           <div class="pl-3">
                              <p class="mb-0">Dedicated Placement cell for 100% Placement Assistance</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 form-group">
               <div class="card position-relative">
                  <div class="card-body">
                     <div class="row no-gutters">
                        <div class="col-4 col-md-4 border-right"><img src="./image/we_icon8.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/why/we_icon8.png" class="img-fluid lazy"></div>
                        <div class="col-8 col-md-8 align-self-center">
                           <div class="pl-3">
                              <p class="mb-0">Project Code stored on Github &amp; Deployed on Heroku</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 form-group">
               <div class="card position-relative">
                  <div class="card-body">
                     <div class="row no-gutters">
                        <div class="col-4 col-md-4 border-right"><img src="./image/we_icon9.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/why/we_icon9.png" class="img-fluid lazy"></div>
                        <div class="col-8 col-md-8 align-self-center">
                           <div class="pl-3">
                              <p class="mb-0">Dedicated Case studies support team</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 form-group">
               <div class="card position-relative">
                  <div class="card-body">
                     <div class="row no-gutters">
                        <div class="col-4 col-md-4 border-right"><img src="./image/we_icon10.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/why/we_icon10.png" class="img-fluid lazy"></div>
                        <div class="col-8 col-md-8 align-self-center">
                           <div class="pl-3">
                              <p class="mb-0">24/7 Trainer Whatsapp Support</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 form-group">
               <div class="card position-relative">
                  <div class="card-body">
                     <div class="row no-gutters">
                        <div class="col-4 col-md-4 border-right"><img src="./image/we_icon11.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/why/we_icon11.png" class="img-fluid lazy"></div>
                        <div class="col-8 col-md-8 align-self-center">
                           <div class="pl-3">
                              <p class="mb-0">Lifetime eLearning access</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 form-group">
               <div class="card position-relative">
                  <div class="card-body">
                     <div class="row no-gutters">
                        <div class="col-4 col-md-4 border-right"><img src="./image/we_icon12.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/why/we_icon12.png" class="img-fluid lazy"></div>
                        <div class="col-8 col-md-8 align-self-center">
                           <div class="pl-3">
                              <p class="mb-0">Get access to free Guest Lectures & Webinars</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="pt-4 pb-4" style="background:#eaeaea">
         <div class="container">
            <h3 class="mt-3 mb-4 font-600 text-center">Data Science Certification Course from Tech Giant IBM</h3>
            <div class="row justify-content-center">
               <div class="col-md-5">
                  <div class="card mb-3">
                     <img src="./image/Data_Science_IBM.png" data-src="https://excelrindia.b-cdn.net/data_science_course_training/assets/images/Data_Science_IBM.png" class="img-fluid lazy">
                  </div>
                  <h5 class="text-blue text-center">IBM Certification</h5>
               </div>
                
            </div>
         </div>
      </div>
      <div class="p-2 digitalpro bg_cover" data-overlay="6" style="background-image: url(../../excelrindia.b-cdn.net/data_science_course_training/assets/images/corporateform_bg_2.jpg)">
         <div class="container pt-4 pb-4">
            <div class="row justify-content-center">
               
               
               <div class="col-md-6 form-group">
                  <div class="banner_content">
                     <div class="card">
                        <div class="card-header">
                           <h3 class="font-20 mb-0">Classroom Training</h3>
                        </div>
                        <div class="card-body">
                           <div>
                              <h3 class="float-left dic-amt"><span class="disam"></span><i class="fa fa-inr"></i> 78,999</h3>
                              <h3 class="font-20 float-left text-success"><i class="fa fa-inr"></i> 59,999</h3>
                              <div style="clear:both;"></div>
                           </div>
                           <ul class="live-virtual">
                               <li><strong>*As per Govt of India Covid regulations</strong></li>
                              <li>Only 40% of Occupancy will be available for Classroom</li>
                              <li>Seats will be filled based on First come First serve basis</li>
                              <li>Avail Monthly EMI At Zero Interest Rate On All Major Credit Cards</li>
                              <li>Faculty are working Data Scientists, Alumni of IIT, IIM, ISB & PhD qualified</li>
                              <li>Assured Placement Support through dedicated Placement Cell</li>
                              
                              <li>Certification cost is additional</li>
                           </ul>
                           
                           <div class="text-center">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#classroom" ng-click="modalopenbutton('Classroom Training')">ENROLL NOW</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-md-5 form-group">
                  <div class="banner_content">
                     <div class="card">
                        <div class="card-header">
                           <h3 class="font-20 mb-0">Live Virtual Classroom</h3>
                        </div>
                        <div class="card-body">
                           
                           <div>
                              <h3 class="float-left dic-amt"><span class="disam"></span><i class="fa fa-inr"></i> 68,999</h3>
                              <h3 class="font-20 float-left text-success"><i class="fa fa-inr"></i> 54,999</h3>
                              <div style="clear:both;"></div>
                           </div>
                          <ul class="live-virtual">
                               
                              <li>Avail Monthly <strong>EMI At Zero Interest Rate</strong> On All Major Credit Cards </li>
                              <li>Faculty are working Data Scientists, Alumni of IIT, IIM, ISB & PhD qualified </li>
                              <li>Assured Placement Support through dedicated Placement Cell </li>
                              
                           </ul>
                           
                           <div class="text-center">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#classroom" ng-click="modalopenbutton('Live Virtual Classroom')">ENROLL NOW</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <div class="bg-bluelite p-2 pb-5">
         <div class="container pb-5">
            <div id="myCarousel2" class="carousel slide pt-3 pb-3" data-ride="carousel">
               <h3 class="text-white pl-3 mb-5 font-600">Why we are Best in Delhi for Data Science Course</h3>
               <div class="carousel-inner row w-100" role="listbox">
                  <div class="carousel-item active">
                     <div class="col-md-6">
                        <div class="card p-2">
                           <img class="img-fluid" src="./review/1.jpeg" alt="slide 1">												
                        </div>      
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-md-6">
                        <div class="card p-2">
                           <img class="img-fluid" src="./review/2.jpeg" alt="slide 2">												
                        </div>      
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-md-6">
                        <div class="card p-2">
                           <img class="img-fluid" src="./review/3.jpeg" alt="slide 1">												
                        </div>      
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-md-6">
                        <div class="card p-2">
                           <img class="img-fluid" src="https://excelr.in/data_science_course_training/assets/images/reviews/4.jpeg" alt="slide 1">												
                        </div>      
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-md-6">
                        <div class="card p-2">
                           <img class="img-fluid" src="https://excelr.in/data_science_course_training/assets/images/reviews/5.jpeg" alt="slide 1">												
                        </div>      
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-md-6">
                        <div class="card p-2">
                           <img class="img-fluid" src="https://excelr.in/data_science_course_training/assets/images/reviews/6.jpeg" alt="slide 1">												
                        </div>      
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-md-6">
                        <div class="card p-2">
                           <img class="img-fluid" src="https://excelr.in/data_science_course_training/assets/images/reviews/7.jpeg" alt="slide 1">												
                        </div>      
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-md-6">
                        <div class="card p-2">
                           <img class="img-fluid" src="https://excelr.in/data_science_course_training/assets/images/reviews/8.jpeg" alt="slide 1">												
                        </div>      
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-md-6">
                        <div class="card p-2">
                           <img class="img-fluid" src="https://excelr.in/data_science_course_training/assets/images/reviews/9.jpeg" alt="slide 1">												
                        </div>      
                     </div>
                  </div>

                  
               </div>
               <a class="carousel-control-prev" href="#myCarousel2" role="button" data-slide="prev">
               <i class="fa fa-chevron-left"></i>							</a>
               <a class="carousel-control-next" href="#myCarousel2" role="button" data-slide="next">
               <i class="fa fa-chevron-right"></i>							</a>						
            </div>
         </div>
      </div>
      <div class="p-2 digitalpro bg_cover" data-overlay="6" style="background-image: url(../../excelrindia.b-cdn.net/data_science_course_training/assets/images/corporateform_bg_2.jpg)">
	<div class="container pt-5 pb-4">
		<div class="banner_content">
			<h3 class="text-white text-center">Do You Want To Know How Data Science Will Be Great For Your Career ?</h3>
			<div class="row justify-content-center">
				<div class="col-md-5 form-group">
					
					<div class="card mt-4">
						<div class="card-header"><h3 class="font-20 mb-0">Register for the webinar</h3></div>
						<div class="card-body" style="min-height:auto">
							<form name="formvalidate4" id="formvalidate4" method="post" ng-submit="formsubmit4(enq)">
			
								<div class="form-group">
									<input type="text" ng-model="enq.name" name="name" id="name" placeholder="Name*" class="form-control" required/>
								</div>
							
								<div class="form-group">
									<input type="email" ng-model="enq.email" placeholder="E-mail*" name="email" id="email" class="form-control" required/>
								</div>
						
								<div class="form-group">
									<input type="text" ng-model="enq.mobile" placeholder="Mobile Number*" name="mobile" id="mobile" class="form-control" required/>
								</div>
									
								<div style="clear:both"></div>
								<div class="text-center" ng-show="processing==0"><button type="submit" name="curriculm" id="curriculm" class="btn btn-primary btn-round">Register</button></div>	
								<h5 class="text-center mb-5" ng-show="processing==1">Please Wait...</h5>
							</form>
							
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>
			      <div class="bg-dark p-2">
         <p class="mb-0 text-white text-center">Copyright 2020 ExcelR | All Rights Resrved</p>
      </div>
       
      

      <div id="onloadpopup" class="modal fade" role="dialog">
         <div class="modal-dialog">
            <div class="modal-content" style="background:url(../../excelrindia.b-cdn.net/data_science_course_training/assets/images/quickenquiry_bg.jpg) #ffffff bottom no-repeat;">
               <button type="button" class="close" style="position: absolute; right: 20px; top: 20px;" data-dismiss="modal">&times;</button>
               <div class="text-center">
                  <img src="../../excelrindia.b-cdn.net/data_science_course_training/assets/images/logo_web.png" height="60" class="p-2">
                  <hr class="m-0" />
               </div>
               <div class="modal-body pt-0">
                  <h4 class="p-3 m-0 text-center">Register now</h4>
                  <form name="modalonload" id="modalonload" method="post" ng-submit="submitmodalonload(enq)">
                     <div class="form-group">
                        <input type="text" ng-model="enq.name" name="name" id="name" placeholder="Name*" class="form-control" required/>
                     </div>
                     <div class="form-group">
                        <input type="email" ng-model="enq.email" placeholder="E-mail*" name="email" id="email" class="form-control" required/>
                     </div>
                     <div class="form-group">
                        <input type="text" ng-model="enq.mobile" placeholder="Mobile Number*" name="mobile" id="mobile" class="form-control" required/>
                     </div>
                     <div class="form-group">
                        <input type="checkbox" name="terms" id="terms" checked required/>
                        <span class="text-dark">I hereby accepting agree the <a href="https://www.excelr.com/terms-and-conditions/" target="_blank">terms and conditions</a> and <a href="https://www.excelr.com/privacy-policy/" target="_blank">privacy policy</a> of ExcelR Solutions</span>
                     </div>
                     <div style="clear:both"></div>
                     <div class="text-center mb-5" ng-show="processing==0"><button type="submit" name="curriculm" id="curriculm" class="btn btn-info btn-round">Register</button></div>
                     <h5 class="text-center mb-5" ng-show="processing==1">Please Wait...</h5>
                     <br /><br /><br /><br /><br />
                  </form>
               </div>
            </div>
         </div>
      </div>


      <div id="myModal" class="modal fade" role="dialog">
         <div class="modal-dialog">
            <div class="modal-content" style="background:url(../../excelrindia.b-cdn.net/data_science_course_training/assets/images/quickenquiry_bg.jpg) #ffffff bottom no-repeat;">
               <button type="button" class="close" style="position: absolute; right: 20px; top: 20px;" data-dismiss="modal">&times;</button>
               <div class="text-center">
                  <img src="../../excelrindia.b-cdn.net/data_science_course_training/assets/images/logo_web.png" height="60" class="p-2">
                  <hr class="m-0" />
               </div>
               <div class="modal-body pt-0">
                  <h4 class="p-3 m-0 text-center">Register now</h4>
                  <form name="formvalidate2" id="formvalidate2" method="post" ng-submit="formsubmit2(enq)">
                     <div class="form-group">
                        <input type="text" ng-model="enq.name" name="name" id="name" placeholder="Name*" class="form-control" required/>
                     </div>
                     <div class="form-group">
                        <input type="email" ng-model="enq.email" placeholder="E-mail*" name="email" id="email" class="form-control" required/>
                     </div>
                     <div class="form-group">
                        <input type="text" ng-model="enq.mobile" placeholder="Mobile Number*" name="mobile" id="mobile" class="form-control" required/>
                     </div>
                     <div class="form-group">
                        <input type="checkbox" name="terms" id="terms" checked required/>
                        <span class="text-dark">I hereby accepting agree the <a href="https://www.excelr.com/terms-and-conditions/" target="_blank">terms and conditions</a> and <a href="https://www.excelr.com/privacy-policy/" target="_blank">privacy policy</a> of ExcelR Solutions</span>
                     </div>
                     <div style="clear:both"></div>
                     <div class="text-center mb-5" ng-show="processing==0"><button type="submit" name="curriculm" id="curriculm" class="btn btn-info btn-round">Register</button></div>
                     <h5 class="text-center mb-5" ng-show="processing==1">Please Wait...</h5>
                     <br /><br /><br /><br /><br />
                  </form>
               </div>
            </div>
         </div>
      </div>
     
      <div id="classroom" class="modal fade" role="dialog">
         <div class="modal-dialog">
         <div class="modal-content" style="background:url(../../excelrindia.b-cdn.net/data_science_course_training/assets/images/quickenquiry_bg.jpg) #ffffff bottom no-repeat;">
               <button type="button" class="close" style="position: absolute; right: 20px; top: 20px;" data-dismiss="modal">&times;</button>
               <div class="text-center">
                  <img src="../../excelrindia.b-cdn.net/data_science_course_training/assets/images/logo_web.png" height="60" class="p-2">
                  <hr class="m-0" />
               </div>
               <div class="modal-body pt-0">
                  <h4 class="p-3 m-0 text-center">Register now</h4>
                  <form name="formvalidate3" id="formvalidate3" method="post" ng-submit="formsubmit3(enq)">
                     <div class="form-group">
                        <input type="text" ng-model="enq.name" name="name" id="name" placeholder="Name*" class="form-control" required/>
                     </div>
                     <div class="form-group">
                        <input type="email" ng-model="enq.email" placeholder="E-mail*" name="email" id="email" class="form-control" required/>
                     </div>
                     <div class="form-group">
                        <input type="text" ng-model="enq.mobile" placeholder="Mobile Number*" name="mobile" id="mobile" class="form-control" required/>
                     </div>
                     <div class="form-group">
                        <input type="checkbox" name="terms" id="terms" checked required/>
                        <span class="text-dark">I hereby accepting agree the <a href="https://www.excelr.com/terms-and-conditions/" target="_blank">terms and conditions</a> and <a href="https://www.excelr.com/privacy-policy/" target="_blank">privacy policy</a> of ExcelR Solutions</span>
                     </div>
                     <div style="clear:both"></div>
                     <div class="text-center mb-5" ng-show="processing==0"><button type="submit" name="curriculm" id="curriculm" class="btn btn-info btn-round">Register</button></div>
                     <h5 class="text-center mb-5" ng-show="processing==1">Please Wait...</h5>
                     <br /><br /><br /><br /><br />
                  </form>
               </div>
            </div>
         </div>
      </div>
 </body>
 </html>